# [Tugas Praktek-1.1](https://academy.dqlab.id/main/livecode/244/406/2034?pr=0)

In [ ]:
SELECT * FROM ms_item_kategori; 
SELECT * FROM ms_item_warna ;

# [Menggabungkan Tabel dengan Key Columns](https://academy.dqlab.id/main/livecode/244/406/2038?pr=0)

In [ ]:
SELECT * FROM ms_item_kategori, ms_item_warna
WHERE nama_barang = nama_item;

# [Bagaimana jika urutan Tabel diubah?](https://academy.dqlab.id/main/livecode/244/406/2044?pr=0)

In [ ]:
SELECT * FROM ms_item_warna, ms_item_kategori
WHERE nama_barang=nama_item;

# [Menggunakan Prefix Nama Tabel](https://academy.dqlab.id/main/livecode/244/406/2045?pr=0)

In [ ]:
SELECT ms_item_kategori.*, ms_item_warna.*
FROM ms_item_warna, ms_item_kategori
WHERE nama_barang=nama_item;

# [Penggabungan Tanpa Kondisi](https://academy.dqlab.id/main/livecode/244/406/2046?pr=0)

In [ ]:
SELECT * FROM ms_item_kategori, ms_item_warna;

# [Tugas Praktek: Menggunakan INNER JOIN (1/3)](https://academy.dqlab.id/main/livecode/244/407/2051?pr=0)

In [ ]:
SELECT * FROM ms_item_warna
INNER JOIN ms_item_kategori
ON ms_item_warna.nama_barang = ms_item_kategori.nama_item;

# [tabel tr_penjualan dan tabel ms_produk](https://academy.dqlab.id/main/livecode/244/407/2052?pr=0)

In [ ]:
SELECT * FROM tr_penjualan;
SELECT * FROM ms_produk;

# [Tugas Praktek: Menggunakan INNER JOIN (2/3)](https://academy.dqlab.id/main/livecode/244/407/2054?pr=0)

In [ ]:
SELECT * 
FROM tr_penjualan
INNER JOIN ms_produk
ON tr_penjualan.kode_produk = ms_produk.kode_produk;

# [Tugas Praktek: Menggunakan INNER JOIN (2/3)](https://academy.dqlab.id/main/livecode/244/407/2054?pr=0)

In [ ]:
SELECT * 
FROM tr_penjualan
INNER JOIN ms_produk
ON tr_penjualan.kode_produk = ms_produk.kode_produk;

# [Tugas Praktek: Menggunakan INNER JOIN (3/3)](https://academy.dqlab.id/main/livecode/244/407/2057?pr=0)

In [ ]:
SELECT tr_penjualan.kode_transaksi,	tr_penjualan.kode_pelanggan,tr_penjualan.kode_produk,ms_produk.nama_produk,ms_produk.harga,tr_penjualan.qty,ms_produk.harga * tr_penjualan.qty AS total
FROM tr_penjualan
INNER JOIN ms_produk
ON tr_penjualan.kode_produk = ms_produk.kode_produk

# [Tabel yang Akan Digabungkan](https://academy.dqlab.id/main/livecode/244/408/2061?pr=0)

In [ ]:
SELECT * FROM tabel_a;

SELECT * FROM tabel_b;

# [Menggunakan UNION](https://academy.dqlab.id/main/livecode/244/408/2062?pr=0)

In [ ]:
SELECT * FROM tabel_A
UNION
SELECT * FROM tabel_B;

# [Menggunakan UNION dengan Klausa WHERE](https://academy.dqlab.id/main/livecode/244/408/2063?pr=0)

In [ ]:
SELECT * FROM tabel_A
WHERE kode_pelanggan='dqlabcust03'
UNION
SELECT * FROM tabel_B
WHERE kode_pelanggan='dqlabcust03';

# [Menggunakan UNION dan Menyelaraskan Kolom-Kolomnya](https://academy.dqlab.id/main/livecode/244/408/2065?pr=0)

In [ ]:
SELECT CustomerName, ContactName, City, PostalCode 
FROM Customers 
UNION 
SELECT SupplierName, ContactName, City, PostalCode 
FROM Suppliers;